@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-container {
  width: 100vw;
  height: 100vh;
  background-image: url("media/hero-img.webp");
  background-size: cover;
}

nav .logo {
  color: white;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

nav {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 4.375rem;
  justify-content: space-between;
  align-items: center;
  padding-left: 8.81rem;
  padding-right: 8.81rem;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

nav ul {
  display: flex;
  gap: 60px;
  align-items: center;
}

nav li {
  list-style: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
}

nav a {
  text-decoration: none;
  color: white;
}

nav button {
  background-color: black;
  color: white;
  border: none;
  width: 9.9rem;
  height: 2.8rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
}

.hero-text {
  position: absolute;
  color: white;
  padding-left: 8.81rem;
  font-family: "Playfair Display", serif;
  top: 50%;
  transform: translateY(-50%);
}

.hero-text h1 {
  font-size: 3.0625rem;
  font-weight: 400;
}

.hero-text h3 {
  font-size: 3.0625rem;
  font-weight: 700;
  font-style: italic;
}

.hero-text p {
  padding-top: 1.87rem;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}

/* Colecciones */

.colecciones-container {
  width: 100vw;
}

.colecciones-text {
  padding-top: 4.31rem;
  padding-bottom: 4.31rem;
  padding-left: 8.81rem;
  font-family: "Playfair Display", serif;
  font-size: 2.3125rem;
  font-weight: 400;
  font-style: normal;
}

.colecciones-text span {
  font-weight: 700;
  font-style: italic;
}

.colecciones-text p {
  padding-top: 1.06rem;
  font-family: "Lato", sans-serif;
  font-size: 1.5625rem;
  font-weight: 300;
}

.colecciones-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.colecciones-card {
  border: solid 0.5px black;
}

.colecciones-card img {
  width: 100%;
}

.colecciones-card-content {
  padding-top: 1.5rem;
  padding-right: 0.94rem;
  padding-left: 0.94rem;
  padding-bottom: 1.19rem;
}

.colecciones-card h4 {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
  text-align: center;
}

.colecciones-card p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: black;
  padding-top: 0.81rem;
  height: 3.75rem;
}

.colecciones-card button {
  background-color: black;
  border: none;
  color: white;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 3.0625rem;
  margin-top: 1.94rem;
}

/* Valores */

.valores-container {
  width: 100vw;
}

.valores-text {
  padding-top: 3.94rem;
  padding-bottom: 2.56rem;
  font-family: "Playfair Display", serif;
  font-size: 2.3125rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  width: 38.8125rem;
  margin: auto;
}

.valores-text span {
  font-weight: 700;
  font-style: italic;
}

.valores-text p {
  padding-top: 2.56rem;
  font-family: "Lato", sans-serif;
  font-size: 1.5625rem;
  font-weight: 300;
}

.valores-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* .valores-card {
  height: 100%;
}

.valores-card img {
  width: 100%;
}

.valores-card-content {
  position: relative;
  color: white;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -100%);
  padding-left: 2.19rem;
  padding-bottom: 2.19rem;
}

.valores-card h4 {
  font-family: "Playfair Display", serif;
  font-size: 3.6875rem;
  font-weight: 700;
  color: white;
  font-style: italic;
}

.valores-card p {
  font-family: "Lato", sans-serif;
  font-size: 1.5625rem;
  font-weight: 300;
  color: white;
} */

.valores-card:nth-child(1) {
  background-image: url("media/value-1.webp");
  width: 100%;
  height: 48.125rem;
}

.valores-card:nth-child(2) {
  background-image: url("media/value-2.webp");
  height: 48.125rem;
}

.valores-card:nth-child(3) {
  background-image: url("media/value-3.webp");
  height: 48.125rem;
}

.valores-card:nth-child(4) {
  background-image: url("media/value-4.webp");
  height: 48.125rem;
}

.valores-card-content {
  position: relative;
  color: white;
  padding-left: 2.19rem;
  padding-bottom: 2.19rem;
  padding-top: 37.25rem;
}

.valores-card h4 {
  font-family: "Playfair Display", serif;
  font-size: 3.6875rem;
  font-weight: 700;
  color: white;
  font-style: italic;
}

.valores-card p {
  font-family: "Lato", sans-serif;
  font-size: 1.5625rem;
  font-weight: 300;
  color: white;
}

.suscripcion-container {
  width: 100vw;
  padding-top: 8.81rem;
  padding-bottom: 8.81rem;
}

.suscripcion-text {
  padding-left: 8.81rem;
}

.suscripcion-text h3 {
  font-family: "Playfair Display", serif;
  font-size: 3.4375rem;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.suscripcion-text p {
  padding-top: 1.63rem;
  font-family: "Lato", sans-serif;
  font-size: 1.5625rem;
  font-weight: 300;
  color: black;
}

.suscripcion-form {
  padding-top: 3.12rem;
  display: flex;
  justify-content: center;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 8.81rem;
  padding-right: 8.81rem;
}

.suscripcion-form input {
  border: solid 0.5px black;
  width: 100%;
  outline: none;
  padding: 1.75rem;
  font-size: 1.5625rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.suscripcion-form button {
  background-color: black;
  color: white;
  border: solid 3.5px black;
  width: 14.125rem;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  cursor: pointer;
}
